pipeline/Data_Ingestion_Pipeline.json
{
	"name": "Data_Ingestion_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup3",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from [project].[config2]\nwhere status = 'active' and project = 'sales';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Azure_Sql_Table",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach3",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup3').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline3",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "param_pipeline_1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pp_input_filesystem": {
										"value": "@item().src_cont",
										"type": "Expression"
									},
									"pp_input_directory": {
										"value": "@item().src_dir\r\n",
										"type": "Expression"
									},
									"pp_input_filename": {
										"value": "@item().filename\r\n",
										"type": "Expression"
									},
									"pp_output_directory": {
										"value": "@item().tgt_dir\r\n",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Execute Pipeline3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(\r\n'Insert into project.audit values (''',\r\nitem().project,\r\n''',''',\r\nitem().filename,\r\n''',''success'', current_timestamp)'\r\n)",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pp_storage": {
				"type": "string"
			},
			"pp_project": {
				"type": "string"
			}
		},
		"annotations": []
	}
}