pipeline/lookup_pipeline2_practise.json
{
	"name": "lookup_pipeline2_practise",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "adls_storage",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Azure_Sql_Table",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup2",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from [project].[config2]\nwhere status = 'active' and project = 'sales';",
						"queryTimeout": "02:00:00",
						"partitionOption": "DynamicRange",
						"partitionSettings": {
							"partitionUpperBound": "",
							"partitionLowerBound": ""
						}
					},
					"dataset": {
						"referenceName": "Azure_Sql_Table",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup2').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline2",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "param_pipeline_1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pp_input_filesystem": {
										"value": "@item().src_cont",
										"type": "Expression"
									},
									"pp_input_directory": {
										"value": "@item().src_dir",
										"type": "Expression"
									},
									"pp_input_filename": {
										"value": "@item().filename",
										"type": "Expression"
									},
									"pp_output_directory": {
										"value": "@item().tgt_dir",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}